

.page-header {
    padding: 50px;
    margin-bottom: 25px;
}

.big-photo-container {
    // height: 310px;
    margin-bottom: -75px;
    border: 3px solid #fff;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: rotate(-8deg);

    img{
      width: 100%;
    }

}
.small-photo-container{
  transform: rotate(-8deg);
  img{
    width: 100%;
  }
}

.title-block{
  .mobile{
    padding-top:15px;
      font-size: 40px;
  }
  .desktop{
      font-size: 60px;
  }
  color: #424242;
  font-family: cursive;
}

.social-links{

  position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;

    a{
      display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 24px;
    background-color: #fff;
    margin: 0 1px;
    color: #9e9e9e;
    text-align: center;
    }
}

.photo:hover{
  transform: scale(1.1);
}

.title-block{
  margin-top:60px;
}

.info-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;

  li{
    margin: 6px 0;
  }
  .title{
    display: inline-block;
    min-width: 120px;
  }

  .value{
    display: inline-block;
    color: #9e9e9e;
  }
}

