<div class="page-content">
  <div fxLayout="column">
    <div class="page-header" fxLayout="row wrap">
      <div fxFlex="40" fxFlex.lt-sm="100">
        <div ngClass="big-photo-container" >
          <img src="/assets/images/johanna_pontus_1.jpg">
          <div style="text-align: center">
            <p style="margin-top:auto">Johanna ❤ Pontus</p>
          </div>
        </div>
      </div>
      <div fxFlex="60" fxFlex.lt-sm="100">
        <div fxLayoutAlign="center center" fxLayout="column" class="title-block ">
          <h1 ngClass.lt-md="mobile" ngClass="desktop" fxFlex="100" style="margin-bottom: 10px">Johanna & Pontus</h1>

        </div>

      </div>


    </div>
    <div class="page-inner-content" fxLayout="row wrap">
      <div fxFlex="50" fxFlex.lt-sm="100">
        <h2>Wow, vi ska gifta oss!</h2>
        <p>10 augusti är sambolivet slut och vi blir äkta makar! Detta vill vi fira tillsammans med just er.
          Här på vår hemsida hittar ni information om tex. plats, vart ni kan bo, meny, vad ni kan ha för kläder på kroppen samt anmälan.
           För oss känns detta så himla härligt och pirrigt och vi hoppas verkligen att ni vill dela denna dag med oss!
        </p>
      </div>
      <div fxFlex></div>
      <div fxFlex="45" fxFlex.sm="100">
        <ul class="info-list">
          <li>
            <span class="title">När?</span>
            <span class="value">10 augusti 2019 15:00</span>
          </li>
          <li fxLayout="row">
            <span class="title">Var?</span>
            <div class="value" fxLayout="column">
              <span>Ryfors (nära Mullsjö)</span>
              <span>Gammelskogen Ryfors</span>
            </div>

          </li>
          <li>
            <span class="title">Kontakta oss</span>
            <span class="value">ryforsbrollop@gmail.com</span>
          </li>
        </ul>
      </div>

    </div>


  </div>



</div>
