<div class="page-content">
  <div fxLayout="column">
    <div class="page-header" fxFlex="100" fxLayoutAlign="center center">
      <div class="title-block">
        <h1>Jätteviktig fakta om platsen</h1>
      </div>

    </div>


    <div class="page-inner-content">
      <h4>Historia</h4>
      <p>
        Ryfors bruk grundades år 1742 och har under årens lopp tillverkats bland annat stångjärn, skogsavverkning,
        koltillverkning. Bruket har även
        haft kraftstationer som försörjt Mullsjö med ström. Idag mest känt för att sedan en längre tid tillbaka varit i
        familjen Sagers ägor.
      </p>
      <p>

        För den vetgirige finns det mer att läsa om bruket <a
          href="http://www.mullsjo.se/Start-Mullsjo-Kommun/Uppleva-och-gora/Kultur/Kulturmiljoer1/Ryfors-i-dag-och-dess-historia/" target="_blank">på
          kommunens hemsida</a> och på <a href="https://sv.wikipedia.org/wiki/Ryfors" target="_blank">wikipedia</a>
      </p>



      <h4>Fiktion</h4>
      <p> För den som är nyfiken på lite mer fiktion om platsen rekommenderas <a
          href="https://vimeo.com/90279270" target="_blank">Blödaren</a>, en rockrysare från 1973 som är inspelad på Ryfors</p>

<p><em>Miljardären som visste för mycket</em> - en nätt dubbelmemoar på 1600 sidor som bland annat har otroliga berättelser i
    sig om vad som föregått på bruket under 1900 talet.</p>

    </div>

  </div>
