<div class="page-content">
  <div fxLayout="column">
    <div class="page-header" fxFlex="100" fxLayoutAlign="center center">
      <div class="title-block">
        <h1>Om oss</h1>
      </div>

    </div>


    <div class="page-inner-content">
      <h3>Balladen om oss</h3>
      <h4>Skog 1</h4>
      <p>
        I de småländska (nja, 1 km från skånska gränsen) djupa skogarna, närmare bestämt i Markaryd fanns det år 2011 en
        folkhögskola. Johanna hade äntligen kommit in på sin utbildning Show & Musikal och fick lämna barndomens trygga
        vrå samt vårdyrket som hon älskade men ändå var lite trött på.
      </p>
      <p>
        Pontus var trött på att vara yrkesmilitär i de Västgötska skogarna och tänkte lite att ”nått ska man väl göra”
        och teaterlinjen blev det!
      </p>


      <p>Redan från dag 1 började vi fatta tycke för varandra och i sann folkhögskoleanda var det fest, dans och sång
        som blev starten på vårt förhållande.</p>

      <p>Ett folkhögskoleår går fort och förhållandet fick fortsätta på distans. Pontus for hem till Mullsjö med drömmen
        om att komma in på Skara Skolscen, Johanna hem till Västervik för att förbereda sig för den stora staden
        Göteborg och tre år på musikalutbildning.</p>

      <h4>Skog 2</h4>
      <p>Johanna drömde om stad men hamnade i en skog igen… Efter den fräckaste lägenhetsblåsningen i mannaminne fick
        både plan B, C och D avverkas innan hon i panik hamnade i en liten liten stuga i Härrydaskogen. Varje morgon
        hade hon pannlampa där hon gick på vägen mot bussen. Det var hon, mörkret och älgarna. Väntandes på antagning
        till Skara Skolscen arbetade Pontus på äldreboendet i Mullsjö. Varannan helg tog han sin blåa springare, vid
        namn Pärlan (Ford escort…) och åkte till Härrydaskogen. Stugan var liten, kall och fuktig så när Johanna
        äntligen fick en andrahandslägenhet i Göteborg lovade och svor vi på att aldrig någonsin återkomma till Härryda
        kommun.</p>

      <p>Pontus fick glädjebeskedet att han kommit in på den tre terminer långa skådespelarutbildningen på Skara
        Skolscen och varannan helg-livet fortsatte i 1.5 år tills Pontus var färdigutbildad och äntligen flyttade ihop
        med Johanna i Göteborg! Johanna tog sin examen som musikalartist men med en kropp som gått på lånad tid många
        år, orkade den tyvärr inte det tilltänka yrket. Markus Krunegård säger att ”askan är den bästa jorden” så ur den
        tidigare eld som brunnit för musikalartist-livet blev askan i form av en sjukskrivning. Så vad gör man för att
        göra livet lite roligare? Jo, man förverkligar Johannas största barndomsdröm (förutom att bli polis...fast man
        är livrädd för tjuvar, banditer och mörker) att få en hund! Det blev ju inte vilken hund som helst utan det blev
        Ebbe, en Cavalier King Charles Spaniel som är mycket väl medveten om att han är sötast, snällast, charmigast och
        helt enkelt bäst.</p>
      <p>Nu med Ebbe i familjen blev vi hund-människor på riktigt och skogen började åter igen kalla på oss.</p>
        <div fxLayout="row wrap"  fxLayoutAlign="center center" fxLayoutGap="10px">
          <img src="/assets/images/ebbe.jpg" alt="Ebbe" fxFlex="45">
          <img src="/assets/images/belovedfotograf linda rehlin_johannapontus_web-11.jpg" fxFlex="45"alt="Ebbe, Johanna och Pontus">
        </div>



      <h4>Skog 3</h4>
      <p>Pontus farmor Gunhild hade i många år haft en stuga ute på Ryfors. Tidigare hade hon orkat cykla sträckan
        Mullsjö-Ryfors men nu orkade inte benen lika mycket som tidigare och hon planerade att säga upp stugan.</p>
      <p>Där såg vi vår chans att få ta över arrendet för den lilla kolmilastugan.</p>
      <p>Med en Ebbe rännandes i skogen, en Johanna påtandes i trädgården och en Pontus målandes inomhus, fick stugan
        med god hjälp från nära och kära en ny look.</p>

      <p>Planer på att skaffa en till fyrbent pälsboll hade länge varit i våra tankar. Plötsligt fick vi erbjudandet att
        ta över en 10-månaders Amerikansk cocker spaniel och det erbjudandet tackade vi ja till. Vi hämtade hem ett
        nervöst men helt fantastiskt litet liv som nu bär namnet Gösta. Nu för tiden är det inte bara Ebbe som ränner i
        skogen utan även Gösta och tillsammans är dem ett fantastiskt team.</p>
<div>
        <img src="/assets/images/gosta.jpg" alt="Ebbe" height="400px" >
</div>
      <h4>Skog 4</h4>
      <p>Låt oss påminna er om vårt löfte att aldrig återvända till Härryda kommun som i vårt liv varit synonymt med
        fuktig stuga och mörker…</p>
      <p>Efter att Ebbe blivit attackerad och svårt skadad av två hundar i Kortedala kände vi att det var dags att lämna
        östra Göteborg. Vi hittade en lägenhet i Mölnlycke med direkt anslutning till ett naturreservat och vi kände att
        vi var redo att flytta. Sen upptäckte vi att Mölnlycke tillhör Härryda kommun men äsch, regler är till för att
        brytas (OBS! denna brytningsregel gäller ej äktenskapslöften). Så nu bor vi i Mölnlycke och vi stortrivs med
        bara 1.5 timmes bilväg till stugan.</p>


      <h4>Skog 5</h4>
      <p>Nu har vi varit tillsammans i 8 år, har Volvo, stuga och hundar, så hur kan vi fira det på bästa sätt? Jo,
        såklart med våra favoritmänniskor, vid vår favoritstuga, vid vår favoritskog!</p>
      <br>
      <p>
        <strong>Välkomna, vi längtar efter er!</strong>
      </p>


<div >
        <img src="/assets/images/stuga.jpg" alt="Stugan" height="500px" >
</div>
    </div>

  </div>
