<div class="page-content">
  <div fxLayout="column">
    <div class="page-header" fxFlex="100" fxLayoutAlign="center center">
      <div class="title-block">
        <h1>Boende</h1>
      </div>

    </div>


    <div class="page-inner-content">
      <h3>Mullsjö är möjligheternas plats!</h3>
      <p>Vi har kontaktat de bästa sovplatserna i Mullsjö för att få ett så bra erbjudande som möjligt. Använd gärna någon av de följande, fina etablissemangen.</p>
      <h4>Mullsjö Camping</h4>
      <p>Närmsta alternativet med sina 2 km från festlokalen är Mullsjö Camping. En liten stugby där ni antingen kan
        hyra en stuga, smälla upp tältet eller ta med er husvagn. Kolla in <a
          href="http://www.mullsjocamping.se/" target="_blank">deras fantastiska hemsida!</a>
      </p>
      <p> Vid bokning av stugor uppger ni Pontus och Johanna bröllop för att kunna ta del av våra abonnerade stugor.</p>

      <h4>Hotell Mullsjö</h4>§
      <p> Inte lika nära som campingen men lite finare! Här har vi bokat 10 rum, både enkel och dubbelrum så först till
        kvarn!
      </p>
      <p><a href="http://www.mullsjohotell.se/" target="_blank">Hotell Mullsjö</a></p>
      <p>Vid bokning av rum uppge Pontus och Johanna bröllop för att ta del av våra abonnerade rum.</p>









    </div>

  </div>
