@media (max-width: 600px) {
  .header {
    margin-top: 0px !important;
  }

    a{
      margin: 0px 10px 0px 0px!important;
    }
}

.header {
  width: 100%;
  background-color: transparent;
  z-index: 2;
  margin-top: 33px;
}


.header-title {
  color: #49515d;
  font-size: 20px;
  height: 100%;
  font-weight: 500;
  font-family: 'Montserrat', Helvetica, sans-serif;
  line-height: 1;

}

.header-menu {
  float: right;
  display: block;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    float: left;
    position: relative;
    padding: 0;
    text-align: center;

    a {
      display: block;
      position: relative;
      padding: 8px 0;
      margin: 0 20px;
      text-align: center;
      color: #49515d;
      font-size: 18px;
      line-height: 1;
      font-weight: 600;
      position: relative;
      text-decoration: none;
      outline: none;
      opacity: 0.8;
    }

    .active {
      color: #5c861ab3;
      border-bottom-style: solid;
    }
  }


}
