<header class="header" fxLayout="row wrap"  fxFlex.lt-xs="100" >

  <div fxFlex></div>

  <button mat-icon-button [matMenuTriggerFor]="menu" fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>
  <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/home" routerLinkActive="active">Hem</a>
          <a mat-menu-item routerLink="/happycouple" routerLinkActive="active">Om oss</a>
          <a mat-menu-item routerLink="/location" routerLinkActive="active">Platsen</a>
          <a mat-menu-item routerLink="/wedding" routerLinkActive="active">Bröllopet</a>
          <a mat-menu-item routerLink="/accommodation" routerLinkActive="active">Boende</a>
          <a mat-menu-item routerLink="/notification" routerLinkActive="active">Anmälan</a>
          <a mat-menu-item *ngIf="showSlideshow" routerLink="/upload" routerLinkActive="active">Ladda upp bilder</a>
          <a mat-menu-item *ngIf="showSlideshow" routerLink="/slideshow" routerLinkActive="active">Bildspel</a>
  </mat-menu>
  <div class="header-menu" fxHide.xs>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">Hem</a>
      </li>
      <li>
        <a routerLink="/happycouple" routerLinkActive="active">Om oss</a>
      </li>
      <li>
        <a routerLink="/location" routerLinkActive="active">Platsen</a>
      </li>
      <li>
        <a routerLink="/wedding" routerLinkActive="active">Bröllopet</a>
      </li>
      <li>
        <a routerLink="/accommodation" routerLinkActive="active">Boende</a>
      </li>
      <li>
        <a routerLink="/notification" routerLinkActive="active">Anmälan</a>
      </li>
      <li>
        <a routerLink="/upload" *ngIf="showSlideshow" routerLinkActive="active">Ladda upp bilder</a>
      </li>
      <li>
        <a routerLink="/slideshow" *ngIf="showSlideshow"  routerLinkActive="active">Bildspel</a>
      </li>
    </ul>
  </div>
</header>
