.image-container {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  height: 90vh;
  img {
    // min-width: 100%;
    flex-shrink: 0;
    min-height: 100%;
    image-orientation: from-image;
    max-height: 100%;
  }
}
