<div class="page-content">
  <div fxLayout="column">

    <div class="image-container">
      <img [src]="getSlideshowImage()" alt="slideshow photo" class="slideshow-image" [style.transform]="'rotate(' +rotation+'deg)'" >
    </div>
    <div fxLayout="row">
      <button *ngIf="!hideButton" #button mat-icon-button (click)="fullscreen()">
        <mat-icon>fullscreen</mat-icon>
      </button>
      <button *ngIf="!hideButton && !isPlaying" mat-icon-button (click)="togglePause()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button *ngIf="!hideButton && isPlaying" mat-icon-button (click)="togglePause()">
        <mat-icon>pause</mat-icon>
      </button>
      <div fxFlex></div>
      <button *ngIf="!hideButton" mat-icon-button (click)="rotate(-90)">
        <mat-icon>rotate_left</mat-icon>
      </button>
      <button *ngIf="!hideButton" mat-icon-button (click)="rotate(90)">
        <mat-icon>rotate_right</mat-icon>
      </button>
    </div>
  </div>
</div>
