<div fxLayout="column" class="wrapper">
  <app-header style="width:100%; "></app-header>
  <div [@routeAnimations]="prepareRoute(outlet)" id="the-frame" class="page frame" >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
