<div class="page-content">
  <div fxLayout="column">
    <div class="page-header" fxFlex="100" fxLayoutAlign="center center">
      <div class="title-block">
        <h1>Bröllopet</h1>
      </div>

    </div>


    <div class="page-inner-content">
      <h4>Typ av bröllop?</h4>
      <p>
        Vårt liv innehåller mycket loppis, blommor, pyssel och skratt så dessa ord skulle kunna beskriva bröllopet ni
        kommer till. Vår förhoppning är att vi kan ha en utomhusceremoni nära vår stuga på Ryfors för att sedan
        fortsätta middag och fest i en ladugård några stenkast därifrån.
      </p>
      <h4>Kläder?</h4>
      <p>
        Ja tack, naket riskerar att bli lite kallt. Ta på dig något du känner dig fin och bekväm i, gärna med någon
        blomdetalj om du vill! Så för att klargöra får du ta på dig precis vad du vill, vill du ha en långklänning, kör
        på det. Vill du ha kavaj? Kör på det. Vill du ha en vit klänning? Kör på det.
      </p>
      <h4>Ceremonin</h4>
      <p>
        Ceremonin
        Det kommer bli en borgerlig ceremoni i närheten av vår stuga på Ryfors. Ceremonin börjar klockan 15. För att
        hitta rätt så slår ni in "Gammelskogen Ryfors" på GPS:en. Ni kommer komma till en stenmur där det finns en
        grusparkering. Följ skyltarna från parkeringen till fots så kommer ni till ceremoniplatsen.
      </p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!4v1558383999205!6m8!1m7!1sjssH8X_EfndreUeTLjyZ6A!2m2!1d57.9041190316852!2d13.83394070605762!3f330.97!4f0!5f1.1924812503605782"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <h4>Mat?</h4>
      <p>
        Middagsmenyn består av bådas favoriträtt: Buffé! Buffén kommer vara en mix av olika rätter inspirerade från
        Mellanöstern. Det kommer finnas veganska, vegetariska samt köttalternativ. Efterrätten kommer också gå i bufféns
        tecken. Allergier anmäls via anmälningsformuläret.
      </p>
      <h4>Dryck?</h4>
      <p>
        Vi bjuder på fördrink och dryck till maten därefter kommer det finnas en härlig bar med både alkoholhaltiga samt
        alkoholfria drycker till en billig peng. Vi kör Swish men vill du ta med din spargris går detta också bra.

      </p>
      <h4>Barn?</h4>
      <p>
        Dem gillar vi! Alla era barn är välkomna, stora som små. I festlokalen kommer det finnas ett barnutrymme med
        diverse pyssel, madrasser för den trötta och annat gött. Wifi finns tyvärr inte så glöm inte att fylla paddan
        med offline-underhållning om det kommer behövas.

      </p>
      <h4>Hur kommer jag hem efter festen?</h4>
      <p>
        Mullsjö är jättefint men har en brist och det är brist på taxiverksamhet. Vi kommer försöka finna två personer
        som vill ha taxiverksamhet för en kväll/natt. Vilka det är och deras nummer uppdaterar vi infon här när vi vet
        mera.

      </p>
      <h4>Vem fixar material till diabildskvällarna?</h4>
      <p>
        Vi har tagit in en fotograf som heter Sebastian Holmgren för att dokumentera vår dag. Så känn ingen panik över
        att ni behöver ta den perfekta bilden. Fotomaterialet får ni såklart del av via länk efter bröllopet.

      </p>

      <h4>Gåvor!</h4>
      <p>
        Den finaste present ni kan ge oss är att ni kommer på denna fest. Det menar vi verkligen. Men insisterar ni på
        att ge oss någonting så är det inga materiella ting vi önskar oss utan helst ett bidrag till oss för att komma
        utomlands eller uppleva någon spännande matupplevelse.
      </p>
      <p>Har ni frågor angående presenter, eller känner ni att ni att "Swish-gåva är ju så himla fint", hör av er
        till Johannas väldans trevliga bror Magnus Månsson på <a
          href="mailto:supermagnus@gmail.com">supermagnus@gmail.com</a> eller <a href="tel:070 757 0890">070 757
          0890</a> </p>

      <h4>Tal? Spex? Uppträdande?</h4>
        <p>Vill ni göra någonting av ovannämnda så maila namn, vad du vill göra och ett telefonnummer/mail så kommer vår bästa toastmadame Amanda att kontakta er.  På plats kommer det finnas ljudanläggning och projektor till förfogande. 
        Maila till <a href="mailto:ryforsbrollop@gmail.com">ryforsbrollop@gmail.com</a>, helst innan 7/8. 
      </p>
      <h4>Vårt team</h4>
      <div fxLayoutGap="20px" fxLayoutAlign="center start">
        <mat-card fxFlex="45" fxFlex.lt-sm="100">
          <mat-card-header>
            <mat-card-title>Magnus</mat-card-title>
            <mat-card-subtitle>Toastmaster och allvetande IT-konstnär</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="/assets/images/magnus.jpg" alt="bild på it-gurun">
          <mat-card-content>
            <p>Johannas storebror kommer
              under bröllopet vara ansvarig för att annonsera talare och se till att ni alla vet vart ni ska ta vägen
              under hela dagen.</p>
          </mat-card-content>
        </mat-card>

        <mat-card fxFlex="45" fxFlex.lt-sm="100">
          <mat-card-header>
            <mat-card-title>Amanda</mat-card-title>
            <mat-card-subtitle>Toastmadame och festfixare</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="/assets/images/amanda.jpg" alt="bild på fixar-frassen">
          <mat-card-content>
            <p>Toastmadame som är bäst på fest, både professionellt och privat! Amanda är Johannas
              barndomsvän och bröllopets koordinator. Hon har koll på det mesta och tack vare henne kommer ni aldrig
              känna er förvirrade.</p>
          </mat-card-content>
        </mat-card>

      </div>



    </div>

  </div>
