// @import './animations';
@import './spinner';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary: #c3cca1;


body{
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #424242;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 15px;
    line-height: 1.6em;
    background-color: #f5f5f5;
    background-color: $primary;
    background-image: url(/assets/images/background_flower.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.page-content {
  color:#424242;
  background-color: #fff;
  overflow: hidden;
  // border-radius: 15px;
  // -webkit-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  // -moz-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  // box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  -ms-transform: none;
  visibility: visible;
}

.no-margin{
  margin: 0px;
}
.page-header {
  position: relative;
  background-color: $primary;
  padding: 15px;
  background-image: url(/assets/images/cherry_bg.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  // background-attachment: scroll;
  // background-position: center center;
  // background-repeat: no-repeat;

  .title-block{
    color:black;
    font-weight: 700;
    // margin: 30px 0 0;
    h1{
    }
  }
}


.page-inner-content {
  padding: 30px 50px 50px;
  text-align: left;
}


.frame {
  color: #fff;
  background-color:#ddc;
  border:solid 5vmin #fff;
  border-bottom-color:#fff;
  border-left-color:#fff;
  border-radius:10px;
  border-right-color:#fff;
  border-top-color:#fff;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  // margin:10vh 10vw;
  // height:80vh;
  // padding:8vmin;
  position:relative;
  text-align:center;
  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
    z-index: -1;
  }
}
