<div class="page-content">
  <div fxLayout="column">

    <div class="page-header" fxFlex="100" fxLayoutAlign="center center">
      <div class="title-block">
        <h1>Ladda upp bilder</h1>
      </div>
    </div>

    <div class="page-inner-content" fxLayout="column">
      <label>Bilder du lägger till här kommer att visas i bildspelet. Brudparet kommer även få chans att fortsätta avnjuta dem även efter bröllopet!</label>
      <dropzone fxFlex="100" class="dropzone-container" [config]="config" [disabled]="false"
        [message]="'Lägg till bilder'" (init)="onUploadInit($event)"
        (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
      </dropzone>




    </div>
  </div>
</div>
