<div class="page-content">
  <div fxLayout="column">

    <div class="page-header" fxFlex="100" fxLayoutAlign="center center">
      <div class="title-block">
        <h1>Anmälan</h1>
      </div>
    </div>

    <div fxLayout="row wrap">
      <div fxFlex="67" class="page-inner-content" fxFlex.lt-md="100">
        <h4>Anmälan</h4>
        <p>
          Det är så himla härligt att ni ska komma! Har ni möjlighet får ni gärna hjälpa oss att fylla vår lada med
          blomster, plocka en bukett i trädgården eller stanna längs vägen (ja, man får köpa på Netto också) så finns
          det vaser när ni kommer till ceremonin.
        </p>

        <mat-card >
          <mat-card-header>
            <mat-card-title *ngIf="!formSent">Anmäl er till bröllopet </mat-card-title>
            <mat-card-subtitle *ngIf="!formSent">Senast 3:e Augusti</mat-card-subtitle>
            <mat-card-title *ngIf="formSent">Anmälan skickad!</mat-card-title>
          </mat-card-header>

          <img mat-card-image src="/assets/images/ebbe_tunga.jpg" alt="Glad bild" *ngIf="formSent">
          <mat-card-content fxLayout="column" *ngIf="!formSent">


            <mat-form-field fxFlex="100">
              <textarea matInput [(ngModel)]="names" placeholder="Ditt/Era namn"></textarea>
            </mat-form-field>
            <mat-form-field fxFlex="100">
              <textarea matInput [(ngModel)]="preferences" placeholder="Matpreferenser / Specialkost / Allergier"></textarea>
              <mat-hint>Äter ni kött? Glutenintolerant?</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex="100">
              <textarea matInput [(ngModel)]="favourites" placeholder="Favvolåt"></textarea>
              <mat-hint>Finns det någon låt du/ni gillar extra mycket och som får det att spritta i benen?</mat-hint>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions *ngIf="!formSent">
            <div fxFlex></div>
            <button mat-raised-button (click)="sendMail()">SKICKA ANMÄLAN</button>
          </mat-card-actions>
        </mat-card>


        <div *ngIf="mailResponse.length > 0" [innerHTML]="mailResponse"></div>


        <h4>Kan ni inte komma?</h4>
        <p>Ring eller maila gärna oss, så vi vet. Tack!</p>
        <h4>Tal? Spex? Uppträdande?</h4>
        <p>Vill ni göra någonting av ovannämnda så maila namn, vad du vill göra och ett telefonnummer/mail så kommer vår bästa toastmadame Amanda att kontakta er.  På plats kommer det finnas ljudanläggning och projektor till förfogande. 
        Maila till <a href="mailto:ryforsbrollop@gmail.com">ryforsbrollop@gmail.com</a>, helst innan 7/8.
      </p>
      </div>


      <div fxFlex="33" class="page-inner-content" fxFlex.lt-md="100">

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
          <mat-icon>email</mat-icon>
          <h5><a href="mailto:ryforsbrollop@gmail.com">ryforsbrollop@gmail.com</a></h5>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
          <mat-icon>phone</mat-icon>
          <h5>Pontus: 076 1744 190</h5>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
          <mat-icon>phone</mat-icon>
          <h5>Johanna: 076 8828 406</h5>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
          <mat-icon>new_releases</mat-icon>
          <h5>OSA: 3:e Augusti</h5>
        </div>
      </div>


    </div>

  </div>
</div>
